@model IEnumerable<CPTur.Models.Destino>

@{
    ViewData["Title"] = "Index";
}

<h1>Destinos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Incluir Destino</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>

            <td>
                
                <a class="btn btn-primary tdBtn"  asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-primary tdBtn"  asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-primary tdBtn"  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
